.register-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url('../../assets/logon-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    max-width: 1120px;
    background: rgba(44, 55, 68, 0.85);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
}

.register-container .content section h1 {
    margin: 0 0 32px;
    font-size: 32px;
}

.register-container .content section p {
    font-size: 18px;
    line-height: 32px;
}

.register-container .content form {
    width: 100%;
    max-width: 450px;
}

.register-container .content form input {
    margin-top: 8px;
}

.register-container .content form input[type="email"] + input[type="password"] {
    margin-top: 40px;
}

.register-container .content form input[type="password"] + p {
    margin-top: 8px;
    color: #e45a5a;
}

.register-container .content form .button {
    margin-top: 40px;
}

@media only screen and (max-width: 768px) {
    body {
        height: 10px;
    }

    .register-container .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        border-radius: 0px;
        padding: 20px 20px;
        width: 100%;
        height: 100%;
    }

    .register-container {
        text-align: center;
        background-attachment: scroll;
    }

    .register-container .content .form form {
        text-align: center;
        width: 100%;
    }

    .register-container .content section {
        margin-bottom: 30px;
        width: 100%;
    }

    .register-container .backlink {
        position: absolute;
        left: 50px;
        top: 15px;
    }

}
