@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.stock-container .table span {
    color: #000;
}

.stock-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.stock-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.stock-container section {
    position: absolute;
    top: 80px;
}

.stock-container section .table-container {
    padding: 40px 20px;
    float: right;
    width: calc(100% - 200px);
}

.stock-container section .table {
    width: 100%;
}

.stock-container section .table table tbody tr:hover {
    background: #aeb3f1;
}

.investment-content {
    position: relative;
}

.investment-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 50px;
}

.investment-input {
    border: 0;
    border-bottom: 1px solid #949494;
    border-radius: 0;
    height: 35px;
    width: 200px;
    font-size: 16px;
}

.investment-input:hover {
    border-bottom: 2px solid #000;
}

.investment-input::placeholder {
    font-weight: 400;
    color: #a2a2a2;
}

.investment-content .button {
    height: 35px;
    line-height: 30px;
    border-radius: 2px;
    border: 2px solid #737df5;
    padding: 0 20px;
    margin-left: 15px;
    font-size: 14px;
    background: #737df5;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.investment-content .add-button {
    margin-top: 10px;
}

.investment-content span button[type="button"]:hover {
    background: transparent;
}

.investment-content .fixed-label span {
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {

    .stock-container, {
        width: 100%;
    }

    .stock-container section .table-container {
        padding: 40px 20px;
        width: 100%;
    }

    .stock-container section .table,
    .stock-container section .table div,
    .stock-container section .table table {
        width: 100%;
    }

    .error-mobile {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .error-mobile h1 {
        text-align: center;
        color: #95a5bb;
    }

    .error-mobile div {
        text-align: center;
    }

}
