.logon-container {
    width: 100%;

    height: 100vh;
    margin: 0px auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url('../../assets/logon-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logon-container .content {
    width: 100%;
    max-width: 1100px;
    padding: 30px 96px;
    background: rgba(44, 55, 68, 0.85);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logon-container .content section {
    width: 100%;
    max-width: 380px;
}

.logon-container .content section h1 {
    margin: 60px 0 32px;
}

.logon-container .content section form {
    width: 100%;
}

.logon-container .content section form {
    margin-top: 8px;
}

.logo {
    width: 400px;
}

@media only screen and (max-width: 768px) {
    .logon-container .content {
        display: flex;
        justify-content: center;
        border-radius: 0px;
        padding: 20px 20px;
        width: 100%;
        height: 100%;
    }

    .logon-container {
        text-align: center;
        background-attachment: scroll;
    }

    .logon-container .content .form form {
        text-align: center;
    }

    .logo {
        display: none;
    }

    .logo-container h1 {
        margin-top: 0px;
    }

}
