header {
    width: calc(100% - 200px);
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 40px 0 120px;
    position: fixed;
    left: 200px;
    z-index: 20;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

header .user-name {
    font-size: 20px;
    color: #95a5bb;
    margin-left: auto;
}

header button {
    height: 45px;
    width: 45px;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid #95a5bb;
    background: transparent;
    transition: box-shadow 0.2s;
}

header button:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

header span {
    color: #b4f1ff;
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        left: 0;
    }

    header button {
        margin-left: 25px;
        width: 60px;
    }
}
