.side-menu-container {
    background: #2d3744;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 25;
}

.side-menu-container ul {
    list-style: none;
}

.side-menu-container ul p {
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    padding: 0 20px;
    margin-top: 20px;
}

.side-menu-container .menu-item {
    width: 100%;
    padding: 0 0 0 20px;
    text-decoration: none;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.side-menu-container .menu-item span {
    font-size: 14px;
}

.side-menu-container .menu-item span,
.side-menu-container ul p,
.side-menu-container .menu-item svg {
    color: #95a5bb;
}

.side-menu-container .menu-item:hover span,
.side-menu-container .menu-item:hover svg,
.side-menu-container .active span,
.side-menu-container .active svg {
    color: #fff;
}

.side-menu-container .menu-item svg {
    margin-right: 8px;
}

@media only screen and (max-width: 768px) {
    .side-menu-container {
        display: none;
    }

    .menu-button {
        position: fixed;
        top: 18px;
        left: 25px;
        z-index: 50;
        height: 45px;
        width: 45px;
        border-radius: 4px;
        border: 1px solid #95a5bb;
        background: transparent;
        transition: box-shadow 0.2s;
    }

    /* .side-menu-container .menu-item {
        padding: 10px 0 10px 20px;
        line-height: 15px;
    }

    .side-menu-container ul li {
        padding: 0;
    } */

    .side-menu-container ul p {
        font-size: 14px;
        font-weight: 500;
        padding: 0 20px;
        margin-top: 80px;
    }

    .menu-button:hover {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }
}
