@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

p,
span {
    color: #fff;
}

body {
    font: 400 14px Roboto, sans-serif;
    background-color: #f6f8fb;
    -webkit-font-smoothing: antialiased;
}

input, button {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form h1 {
    font-size: 36px;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 2px;
    padding: 0 24px;
    margin-top: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button {
    width: 100%;
    height: 60px;
    background: #737df5;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
    filter: opacity(65%);
}

.backlink {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.backlink svg {
    margin-right: 8px;
}

.backlink:hover {
    opacity: 0.8;
}
